In [1]:
import pandas as pd
df= pd.read_csv('transport_canberra.csv')

In [2]:
df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,route_id,service_id,trip_headsign,route_short_name,route_long_name,...,thursday,friday,saturday,sunday,start_date,end_date,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence
0,T_R1_01,07:51:00,07:52:00,S052,1,R1,WD,Woden,R1,Rapid Route 1,...,1,1,0,0,20250101,20251231,SH_R1,-35.199021,149.113837,1
1,T_R1_01,07:51:00,07:52:00,S052,1,R1,WD,Woden,R1,Rapid Route 1,...,1,1,0,0,20250101,20251231,SH_R1,-35.332691,149.045852,2
2,T_R1_01,07:51:00,07:52:00,S052,1,R1,WD,Woden,R1,Rapid Route 1,...,1,1,0,0,20250101,20251231,SH_R1,-35.173938,149.069837,3
3,T_R1_01,07:51:00,07:52:00,S052,1,R1,WD,Woden,R1,Rapid Route 1,...,1,1,0,0,20250101,20251231,SH_R1,-35.169058,149.114486,4
4,T_R1_01,07:51:00,07:52:00,S052,1,R1,WD,Woden,R1,Rapid Route 1,...,1,1,0,0,20250101,20251231,SH_R1,-35.370941,149.203010,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            90000 non-null  object
 1   arrival_time       90000 non-null  object
 2   departure_time     90000 non-null  object
 3   stop_id            90000 non-null  object
 4   stop_sequence      90000 non-null  int64
 5   route_id           90000 non-null  object
 6   service_id         90000 non-null  object
 7   trip_headsign      90000 non-null  object
 8   route_short_name   90000 non-null  object
 9   route_long_name    90000 non-null  object
 10  route_type         90000 non-null  int64
 11  stop_name          90000 non-null  object
 12  stop_lat           90000 non-null  float64
 13  stop_lon           90000 non-null  float64
 14  monday             90000 non-null  int64
 15  tuesday            90000 non-null  int64
 16  wednesday          90000 non-null  int64
 17  thursday           90000 non-null  int64
 18  friday             90000 non-null  int64
 19  saturday           90000 non-null  int64
 20  sunday             90000 non-null  int64
 21  start_date         90000 non-null  int64
 22  end_date           90000 non-null  int64
 23  shape_id           90000 non-null  object
 24  shape_pt_lat       90000 non-null  float64
 25  shape_pt_lon       90000 non-null  float64
 26  shape_pt_sequence  90000 non-null  int64
dtypes: float64(4), int64(12), object(11)
memory usage: 18.5+ MB

In [4]:
df.describe(include='all')

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,route_id,service_id,trip_headsign,route_short_name,route_long_name,...,thursday,friday,saturday,sunday,start_date,end_date,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence
count,90000,90000,90000,90000,90000.000000,90000,90000,90000,90000,90000,...,90000.0,90000.0,90000.0,90000.0,90000.0,90000.0,90000,90000.000000,90000.000000,90000.000000
unique,300,374,374,80,NaN,12,1,5,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN
top,T_R1_01,10:00:00,10:01:00,S077,NaN,R1,WD,City,R1,Rapid Route 1,...,NaN,NaN,NaN,NaN,NaN,NaN,SH_R1,NaN,NaN,NaN
freq,300,510,510,1395,NaN,7500,90000,20100,7500,7500,...,NaN,NaN,NaN,NaN,NaN,NaN,7500,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,10.500000,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,20250101.0,20251231.0,NaN,-35.297039,149.145832,8.000000
std,NaN,NaN,NaN,NaN,5.766313,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.091220,0.080156,4.320518
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,20250101.0,20251231.0,NaN,-35.449261,149.001950,1.000000
25%,NaN,NaN,NaN,NaN,5.750000,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,20250101.0,20251231.0,NaN,-35.387624,149.082625,4.000000
50%,NaN,NaN,NaN,NaN,10.500000,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,20250101.0,20251231.0,NaN,-35.296380,149.129300,8.000000
75%,NaN,NaN,NaN,NaN,15.250000,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,20250101.0,20251231.0,NaN,-35.216132,149.206399,12.000000
max,NaN,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,20250101.0,20251231.0,NaN,-35.150172,149.291935,15.000000

In [5]:
df.isnull().sum()

trip_id              0
arrival_time         0
departure_time       0
stop_id              0
stop_sequence        0
route_id             0
service_id           0
trip_headsign        0
route_short_name     0
route_long_name      0
route_type           0
stop_name            0
stop_lat             0
stop_lon             0
monday               0
tuesday              0
wednesday            0
thursday             0
friday               0
saturday             0
sunday               0
start_date           0
end_date             0
shape_id             0
shape_pt_lat         0
shape_pt_lon         0
shape_pt_sequence    0
dtype: int64

In [6]:
df.columns

Index(['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence',
       'route_id', 'service_id', 'trip_headsign', 'route_short_name',
       'route_long_name', 'route_type', 'stop_name', 'stop_lat', 'stop_lon',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'start_date', 'end_date', 'shape_id', 'shape_pt_lat',
       'shape_pt_lon', 'shape_pt_sequence'],
      dtype='object')

In [9]:
df.columns

Index(['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence',
       'route_id', 'service_id', 'trip_headsign', 'route_short_name',
       'route_long_name', 'route_type', 'stop_name', 'stop_lat', 'stop_lon',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday',
       'sunday', 'start_date', 'end_date', 'shape_id', 'shape_pt_lat',
       'shape_pt_lon', 'shape_pt_sequence'],
      dtype='object')

In [11]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\dmart\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\dmart\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\dmart\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dmart\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "postgres"
password = quote_plus("NEWpsw@123")
host = "localhost"
port = "5432"
database = "transport_canberra_performance_analysis"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

tablename = "route"

df.to_sql(tablename, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{tablename}' in database '{database}'.")

Data successfully loaded into table 'route' in database 'transport_canberra_performance_analysis'.